@model IEnumerable<SGEscolar.Models.Profesore>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de profesores</h1>

<p>
    <a asp-action="Create">Crear un nuevo profesor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfesorNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfesorTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfesorCorreo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfesorNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfesorTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfesorCorreo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfesorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProfesorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfesorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
