@model IEnumerable<SGEscolar.Models.Calificacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de calificaciones</h1>

<p>
    <a asp-action="Create">Capturar calificación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.AlumnoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.MateriaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CalificacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CalificacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CalificacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
